@font-face {
  font-family: 'iconfont';  /* Project id 3699575 */
  src: url('//at.alicdn.com/t/c/font_3699575_p3o2o0t4pd.woff2?t=1675954726236') format('woff2'),
       url('//at.alicdn.com/t/c/font_3699575_p3o2o0t4pd.woff?t=1675954726236') format('woff'),
       url('//at.alicdn.com/t/c/font_3699575_p3o2o0t4pd.ttf?t=1675954726236') format('truetype');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }